[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
Icon[en_US]=gdu-category-peripheral
Exec=/home/crypto/stop-gc3355.run
Name[en_US]=gridseed stop
Comment[en_US]=Start mining with gridseed 3355
Name=GridSeed start
Comment=Start mining with gridseed 3355
Icon=/usr/share/icons/hicolor/scalable/apps/gdu-smart-failing.svg
Comment[en_US.UTF-8]=Stop mining with gridseed 3355
